html {
    height: 100%;
    width: 100%;
  }
  .header{
    background-color:  #f1cbca;
  }
  .topnav {
    overflow: hidden;
    background-color:  #f1cbca;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-right{
    float: right;
  }
  .topnav a:hover {
    background-color: #e99491;
    color: black;
  }
  h1{
    font-size: 1.7em;
    font-weight: 500;
  }
  h2{
    font-size: 1.7em;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    color: #292828;
    font-weight: 300;
    padding-left: 40px;
  }
  h3{
    font-size: 1.3em;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    color: #DC362E;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 20px;
  }
  h4{
    font-size: 1.25em;
    font-family: Tahoma, sans-serif;
    color: #DC362E;
    font-weight: 300;
    padding-left: 10px;
  }
  p{
    font-size: 1.2em;
    font-family: 'Poppins';
    font-weight: 200;
    line-height: 1.5em;
    padding-left: 10px;
    padding-top: 0px;
  }
  ul{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
  }
  li{
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .thumbnail{
    width: 450px;
    height: 450px;
    display: block;
    margin: auto;
    object-fit: cover;
  }
  .ourKids{
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 10px;
  }
  #ourKidsRight{
    justify-self: right;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f1cbca;
  }
  .column {
    background-color: #f1cbca;
    flex: 50%;
  
  }
  @media screen and (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }
  .row1{
    display: block;
    margin: auto;
    text-align: center;
    background-color: #f1cbca;
  }
  .row2{
    display: flex;
    flex-direction: row;
    background-color: #f1cbca;
    margin: 0px;
  }
  .queue{
    flex: 30%;
    background-color: #f1cbca;
  }
  @media screen and (max-width: 600px) {
    .row2 {
      flex-direction: column;
    }
  }
  .container{
    background-color: #f1cbca;
  }
  .content{
    width: 75%;
    margin: auto;
    
  }
  .main-content{
    width: 40%;
  }
  .side-content{
    display: inline;
  }


  