html {
    height: 100%;
    width: 100%;
  }
  .header{
    background-color:  peachpuff;
  }
  .topnav {
    overflow: hidden;
    background-color:  peachpuff;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-right{
    float: right;
    margin: auto;
  }
  .topnav a:hover {
    background-color: #da9961;
    color: black;
  }
  h1{
    font-size: 1.7em;
    font-weight: 500;
  }
  h2{
    font-size: 1.7em;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    color: #292828;
    font-weight: 300;
    padding-left: 40px;
  }
  h3{
    font-size: 1.3em;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    color: #b15f17;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  h4{
    font-size: 1.25em;
    font-family: Tahoma, sans-serif;
    color: #b15f17;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 0px;
  }
  p{
    font-size: 1.2em;
    font-family: 'Poppins';
    font-weight: 200;
    line-height: 1.5em;
    padding-left: 10px;
    padding-top: 0px;
  }
  ul{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    line-height: normal;
  }
  li{
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Poppins';
    font-size: 1em;
    line-height: normal;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .thumbnail{
    width: 450px;
    height: 450px;
    display: block;
    margin: auto;
    object-fit: cover;
  }
  .form1{
    width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    height: 380px;
  }
  .form2{
    width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    height: 300px;
  }
  #form1{
    justify-self: right;
    align-self: right;
  }
  #schoolLocatorRight{
    justify-self: right;
    align-self: right;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
  }
  .column {
    background-color: peachpuff;
    flex: 50%;
  
  }
  @media screen and (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }
  .section1{
    display: block;
    background-color:whitesmoke;
    padding: 20px;
  }
  section{
    display: block;
    background-color:white;
    padding: 20px;
  }
  .section2{
    display: block;
    background-color: white;
    margin-bottom: 0px;
  }
  .row{
    display: flex;
    flex-direction: row;
    background-color: peachpuff;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    border-radius: 25px;
    padding: 20px;
  }
  .queue{
    flex: 50%;
    background-color: peachpuff;
    line-height: normal;
    padding: 0px 10px;
  }
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
  .container{
    background-color: peachpuff;
  }
  .content{
    max-width: 70rem;
    margin: auto;
    line-height: normal;
    background-color: white;
  }
  .main-content{
    width: 40%;
  }
  .side-content{
    display: inline;
  }
  .personna{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: contain;
    margin: auto;
  }
  .row3{
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 70rem;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .design{
    flex: 50%;
    background-color: white;
    margin: 10px 0;
  }
  @media screen and (max-width: 600px) {
    .row3 {
      flex-direction: column;
    }
  }
  .schoolContent{
    display: block;
    margin: auto;
    width: 400px;
    height:800px;
    object-fit: contain;
  }
  .lowFidelity{
    max-width: 50rem;
    margin: auto;
  }
  .sketch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  .highFidelity{
    max-width: 80rem;
    margin: auto;
    
  }
  .final{
    display: block;
    margin-left: 10px;
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: peachpuff;
    color: black;
    margin-top: 0px;
  }
  #colorChange{
    color: #94663e;
  }
  .lineHeight{
    line-height: 100%;
  }
  